.DS_Store
node_modules/
pack/
dist/
backup/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json*
.zip
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
